  
  <div class="card mb-2" style="width: 18rem;" appChangeBackground>
        <img class="card-img-top" src="assets/images/product.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title text-capitalize fw-bold">product name : {{product.name}}</h5>
        <p  appChangeColor [mainColor]="'blue'" class="card-text">product description : {{product.description}}</p>
        <span class="card-text bg-info p-2 rounded-1 my-1">price : {{product.price}}</span>
        </div>
    </div>